{{#extend '_layouts/simple-layout'}}
  
  {{~#content 'title' mode='prepend'~}}
    test-layout 
  {{~/content~}}

  {{#content 'body'}}
    <div class="container">
      hell world
    </div>
  {{/content}}

{{/extend}}
